<h1>Employee creation</h1>
<div mat-dialog-content>
  <div class="container">
    <div class="row">
      <div class='col personal'>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Surame</mat-label>
        <input matInput [(ngModel)]="data.surname">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Salary</mat-label>
        <input matInput [(ngModel)]="data.salary">
      </mat-form-field>
    </div>
    <div class='col features'>
      <p>Position(s)</p>
      <div *ngFor='let item of jobCategories'>
        <mat-checkbox>{{ item.name }}</mat-checkbox>
      </div>
    </div>
    </div>
  </div>

</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>