@import "../styles.less";

.spacer{
    flex: 1 1 auto;
}
mat-divider {
    height: 100%;
    border: 1px;
    border-color: #673ab7;
    margin-right: 15px;
}

.title {
    padding: 16px;
    margin-right: 15px;
    background-color: #9786b6;
    width: @title-width;
}
.mat-raised-button {
    height: 100%;
    border-radius: 0%;
}
.mat-toolbar {
    padding: 0;
}
button.active-link{
    background-color: #673ab7;
    color: white;
    &:hover {
        color: unset;
    }
}
a {
    visibility: hidden;
    padding: 0 15px 0 0;
    text-decoration: none;
    &.visible-link {
        visibility: visible;
    }
    &:not(:first-of-type) {
        &::before {
            content: ">";
            padding-right: 15px;
            cursor: default;
            outline: none;
            text-decoration: none;
            &:hover {
                outline: none;
                text-decoration: none;
                color: unset;
            }
        }
    }
}


.example-container {
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: @title-width + 64px;
    background: #9786b6;
  }