<mat-toolbar>
    <button mat-raised-button color="primary" aria-label="menu icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu"></mat-menu>
    <span class="title">Accountant Office</span>
    <div *ngIf="section=='departments'">
        <a routerLink="departments" class="visible-link" routerLinkActive="active-link">Departments</a>
        <a [routerLink]="['/departments', departmentId]" routerLinkActive="visible-link">Employees</a>
    </div>
    <div *ngIf="section=='catalogs'">
        <a routerLink="catalogs" class="visible-link" routerLinkActive="active-link">Catalogs</a>
    </div>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" class="account-box-icon" aria-label="profile">
        <mat-icon>account_box</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" class="example-sidenav" [fixedInViewport]=true [fixedTopGap]="60">
        <button mat-menu-item routerLink="departments" class="visible-link" routerLinkActive="active-link">Departments</button>
        <button mat-menu-item routerLink="catalogs" class="visible-link" routerLinkActive="active-link">Catalogs</button>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>
