<mat-toolbar>
    <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" aria-label="menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="departments" class="visible-link" routerLinkActive="active-link">Departments</button>
        <button mat-menu-item routerLink="catalogs" class="visible-link" routerLinkActive="active-link">Catalogs</button>
      </mat-menu>
    <span class= "title">Accountant Office</span>
    <mat-divider [vertical]="true"></mat-divider>
    <div *ngIf="section=='departments'">
        <a routerLink="departments" class="visible-link" routerLinkActive="active-link">Departments</a>
        <a [routerLink]="['/departments', departmentId]" routerLinkActive="visible-link">Employees</a>
    </div>
    <div *ngIf="section=='catalogs'">
        <a routerLink="catalogs" class="visible-link" routerLinkActive="active-link">Catalogs</a>
    </div>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" class="account-box-icon" aria-label="profile">
        <mat-icon>account_box</mat-icon>
    </button>
</mat-toolbar>

<router-outlet></router-outlet>
